{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td><b>{{ total_cash | usd }}</b></td>
            </tr>
        </tfoot>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock["stock_symbol"] }}</td>
                    <td>{{ q_dict[stock["stock_symbol"]]["name"] }}</td>
                    <td>{{ stock["shares"] }}</td>
                    <td>{{ q_dict[stock["stock_symbol"]]["price"] | usd }}</td>
                    <td>{{ (q_dict[stock["stock_symbol"]]["price"] * stock["shares"]) | usd }}</td>
                </tr>

            {% endfor %}

            <tr>
                <td colspan="4">CASH</td>
                <td>{{ available_cash | usd }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}